<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.3.xsd">

	<util:properties id="str" location="classpath:/config/my.properties">
	</util:properties>
	
	<!-- 
	<bean id="mybean" class="bean.MyBean">
		<constructor-arg value="good night">			
		</constructor-arg>
	</bean>
	 -->
	 
	<bean id="mybean" class="bean.MyBean">
		<constructor-arg value="good night"/>
		<property name="greeting" value="#{str.kor}"></property>
	</bean>

</beans>
